.App {
  text-align: center;
 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
    width:50%;
    min-height: 300px;
    margin:200px auto 200px auto;
    border:2px solid black;
    border-radius:20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: grey;
}


.addContainer{
  margin: 40px ;
  text-align: left;
}



.addContainer input {
  width:45%;
  min-width:100px;
  height: 30px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;  
}

.addContainer button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 5px;
  border-radius: 10px;
  width: 30%;
 text-align: center;
  height: 50px;
  min-width: 50px;
}


.addContainer button:hover {
 font-size: 20px;
}

.item {
  display: flex;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 10px;
  margin: 20px;
  width: 80%;
}

.item span {
  font-size: 20px;
  width: 100%;
  text-align: left;
}

.item button {
  background-color: #ff3333;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}
.item button:hover {
font-size: 17px;
}

